// variables
$white: #fff;
$grey: #aaa;
$darkgrey: #333;
$background: #00665e;
$font-goth: 'AlternateGothic2 BT', sans-serif;
$font-proxima: 'Proxima Nova Rg', sans-serif;
@mixin navi {
  text-align: center;
  margin: 1em 0;
  color: complement($background);
  background: lighten($background, 20%)
}


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 html {
  width: 100%;
  height: 100%
 }

 .page-wrap{
  min-height: 100%;
  margin-bottom: 1em;
  &:after {
    content: "";
    display: block;
  };
 }

 img{
  max-width: 100%;
 }

 body{
  @extend html;
  background: url(../images/bg.jpg) no-repeat center center fixed $background;
  background-size: cover;
 }

 header img{
  margin-top: 2em;
 }

 nav{
  @include navi;
  &:a {
    text-decoration: none;
    color: $white;
    margin: .2em .75em;
    display: inline-block;
    &:visited {
      color: $white;
    };
  };
 }

 a{
  text-decoration: none;
  &:hover {
    color: #ccc;
  };
 }

 fieldset{
  margin-top: 1em;
 }

 input[type="text"] {
  border: 3px $white;
  font-size: 1.5em;
  background-color: rgba(240,240,240,.0);
  min-height: 2em;
  width: 100%;
  display: block;
  margin: .5em 0;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.9);
  color: $white;
  border-radius: 0;
  padding-left: 1em;
  font-family: 'Proxima Nova Rg', sans-serif;
  -webkit-appearance: none;
  &:focus {
    color:$white;
  };
}

input[type="password"] {
  border: 3px $white;
  font-size: 1.5em;
  background-color: rgba(240,240,240,.0);
  min-height: 2em;
  width: 100%;
  display: block;
  margin: .5em 0;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.9);
  color: $white;
  border-radius: 0;
  padding-left: 1em;
  font-family: $font-proxima;
  -webkit-appearance: none;
  &:focus {
    color: $white;
  };
}

/* .password:before{
  font-family: 'icomoon'
  content:'\e601';
  color: #333;
  position: absolute;
 }*/

 p{
  font-family: $font-proxima;
  color: $white;
 }

 h1{
  font-size: 3em;
  font-family: $font-goth;
  text-transform: uppercase;
 }

 .tagline {
  font-size: 2em;
  color: $white;
  font-family: $font-goth;
  text-align: center;
  line-height: 1.25em;
  margin-top: 3em;
 }


 /***********
 SEARCH STUFF
 ***********/

 input[type=submit],
 button{
  font-family: $font-proxima;
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 2.1em;
  padding: 0.1em;
  font-size: 1.5em;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #c57d51;
  border: 0;
  cursor: pointer;
  border-radius: 0;
  margin-top: .5em;
  transition: background-color .5s ease;
  -webkit-appearance: none;
  &:hover {
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #bf6340;
    border: 0;
  };
 }

input[type="text"], input[type="submit"] {
  float: left;
}

/*Menu slider*/

.btn-slide {
  color: #222;
  text-decoration: none;
  text-align: center;
  background-color: rgba(30,30,30,.9);
  width: 100%;
  height: 2em;
  display: block;
  line-height: 1.5em;
  font-size: 1.5em;
  padding-top: .25em;
  font-family: $font-proxima;
  &:a {
    color: $white;
  };
}

#panel{
  height: 40%;
  width: 100%;
  display: none;
  background-color: rgba(30,30,30,.9);
  color: $white;
  text-align: center;
  margin-top: -.3em;
  &:a {
    display: block;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
    font-family: $font-proxima;
    color: $white;
    &:visited {
      color: $white;
    };
    &:hover {
      color: $grey;
    };
  };
}

.active {
  display: block;
  &:a {
    display: block;
    text-align: center;
  };
}

footer{
  height: 5em;
  width: 100%;
  background-color: rgba(5,5,5,.5);
  &:p {
    padding-top: 1.75em;
    padding-left: 2em;
  };
}

/* #Page Styles
================================================== */

/********
LOGIN PAGE
********/

fieldset>p{
  text-align: center;
  font-size: 2em;
}

.login-form{
  max-width: 30em;
  margin: 2em auto;
}

.tagline{
  font-size: 3em;
  max-width: 30em;
  margin-top: 1em;
}

/********
EVENT PAGES
********/
.header{
  color: $white;
  font-size: 4em;
  display: none;
}

/********
EVENT DETAIL PAGES
********/

.content-title{
  color: $white;
  font-size: 4em;
}

.event-detail {
  background: rgba(240,240,240,.8);
  margin-top: 2em;
  padding-bottom: 2em;
  &:p {
    color: #000;
    margin: 1em;
    max-width: 740px;
  };
  &:h1 {
    margin-left: .65rem;
    margin-top: .25em;
  };
  &:h2 {
    margin-left: 1.4em;
    margin-top: -1em;
    font-size: .75em;
    font-family: $font-goth;
    font-weight: bold;
    line-height: 1.2em;
  };
  &:h3 {
    margin: .5em 0 -.5em 1em;
    font-size: 1em;
    font-family: $font-goth;
    font-weight: bold;
    line-height: 1em
  };
}

.event-detail-image{
  background:url('../images/5kole.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 25em;
}

.sidebar-title {
    font-size: 2em;
    color: white;
    margin-top: .75em;
    line-height: 1em;
  }

.sidebar-title-other h1{
  margin-bottom: 2em;
}

.other{
  margin: .5em 0 -1em 0;
}


/*social media links*/

.soc-link {
  font-size: 3em;
  text-decoration: none;
  float: right;
  margin-bottom: 1em;
  margin-right: .5em;
  color: $darkgrey;
}

.save-event {
  margin-left: .5em;
  text-decoration: none;
  font-weight: 800;
  margin-bottom: 2em;
  font-family: $font-proxima;
  font-size: 1.75em;
  line-height: 1.75em;
  color: $darkgrey;
  &:visited {
    color: $darkgrey;
  };
  &:hover {
    text-decoration: underline;
    color: $darkgrey;
  };
}

.event-detail>h2{
  font-size: 1.25em;
  margin-left: .75em;
  text-transform: uppercase;
}

/*Stylin' and profilin' (profile styles)*/

.profile-image{
  background:url('../images/profileImage.png') no-repeat center center;
  background-size: cover;
  margin-top: 2em;
  width: 100%;
  height: 25em;
}

.prof-bot-margin {
  margin-bottom: -.5em;
}

.prof-title-margin {
  margin-bottom: 1em;
}

